@page "/AccountSMSOffersView"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Account SMS Offers</PageTitle>

<h1>Account SMS Offers</h1>

@if (Offers == null || Offers.Count == 0)
{
    <p>No Active Benefits are available</p>
}

<div class="form-style">
	<input type="text" placeholder="mobile no" @bind="inputMobileNo" />

	<button @onclick=Submit>Submit</button>
</div>



<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Offer ID</th>
                <th>Benefit ID</th>
                <th>Internet Offered</th>
                <th>SMS Offered</th>
                <th>Minutes Offered</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tuple in Offers)
            {
                <tr>
                    <td>@tuple.OfferId</td>
                    <td>@tuple.BenefitId</td>
                    <td>@tuple.InternetOffered</td>
                    <td>@tuple.SMSOffered</td>
                    <td>@tuple.MinutesOffered</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<AccountSMSOffersResult> Offers = new();
    string inputMobileNo;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    async void Submit()
    {
		using var context = DbFactory.CreateDbContext();
		Offers = await context.Database
			.SqlQuery<AccountSMSOffersResult>(
				$"Select * from Account_SMS_Offers({inputMobileNo})"
			).ToListAsync();

		loading = false;

		StateHasChanged();
	}
}
