@page "/AllCustomerAccountsView"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Customer Accounts</PageTitle>

<h1>All Customer Accounts</h1>

@if (CustomerAccounts == null || CustomerAccounts.Count == 0)
{
    <p>No Active Benefits are available</p>
}

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>National ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Date of birth</th>
                <th>Mobile no.</th>
                <th>Account type</th>
                <th>Status</th>
                <th>Start date</th>
                <th>Balance</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tuple in CustomerAccounts)
            {
                <tr>
                    <td>@tuple.NationalId</td>
                    <td>@tuple.FirstName</td>
                    <td>@tuple.LastName</td>
                    <td>@tuple.Email</td>
                    <td>@tuple.Address</td>
                    <td>@DateOnly.FromDateTime(tuple.DateOfBirth.Value)</td>
                    <td>@tuple.MobileNo</td>
                    <td>@tuple.AccountType</td>
                    <td>@tuple.Status</td>
                    <td>@DateOnly.FromDateTime(tuple.StartDate.Date)</td>
                    <td>@tuple.Balance</td>
                    <td>@tuple.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<AllCustomerAccount> CustomerAccounts = new();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (loading)
        {
            using var context = DbFactory.CreateDbContext();
            CustomerAccounts = await context.AllCustomerAccounts.ToListAsync();

            loading = false;

            StateHasChanged();
        }
    }
}
