@page "/ServicePlanView"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Service Plan Details</PageTitle>

<h1>Service Plan Details</h1>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Plan ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>SMS Offered</th>
                <th>Minutes Offered</th>
                <th>Data Offered</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in servicePlans)
            {
                <tr>
                    <td>@plan.PlanId</td>
                    <td>@plan.Name</td>
                    <td>@plan.Price</td>
                    <td>@plan.SmsOffered</td>
                    <td>@plan.MinutesOffered</td>
                    <td>@plan.DataOffered</td>
                    @if (plan.Description == null) {
                        <td>No Description</td>
                    } else {
                        <td>@plan.Description</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (loading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="color: #6c63ff" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}

<p>@error</p>

@if (servicePlans == null || servicePlans.Count == 0)
{
    <p>No services are available</p>
}

@code {
    private List<AllServicePlan> servicePlans = new();
    private bool loading = false;
    private string error = "";

    protected override async Task OnInitializedAsync()
    {
        try {
            loading = true;
            StateHasChanged();

            using var context = DbFactory.CreateDbContext();
            servicePlans = await context.AllServicePlans.ToListAsync();
        } catch (Exception err) {
            error = err.Message;
            StateHasChanged();
        } finally {
            loading = false;
            StateHasChanged();
        }
    }
}
