@page "/UnsubscribedPlansRetrieve"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Unsubscribed Plans</PageTitle>

<h1>Unsubscribed Plans</h1>

<div class="table-container">

    <div class="form-style">
        <input type="text" placeholder="mobile number" name="mobile_num" @bind="mobile_num">
        <button @onclick="SubmitInput">Submit</button>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <td>Plan ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>SMS Offered</td>
                <td>Minutes Offered</td>
                <td>Data Offered</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var unsubscribed in unsubscribedPlans)
            {
                <tr>
                    <td>@unsubscribed.PlanId</td>
                    <td>@unsubscribed.Name</td>
                    <td>@unsubscribed.Price</td>
                    <td>@unsubscribed.SMSOffered</td>
                    <td>@unsubscribed.MinutesOffered</td>
                    <td>@unsubscribed.DataOffered</td>
                    <td>@unsubscribed.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (unsubscribedPlans == null || unsubscribedPlans.Count == 0)
{
    <p>No services are available</p>
}

@code {
    private List<UnsubscribedPlansResult> unsubscribedPlans = new();
    private bool isLoading = true;
    public string mobile_num;
    

    private async Task SubmitInput()
    {
        using var context = DbFactory.CreateDbContext();
        unsubscribedPlans = await context.Database
            .SqlQuery<UnsubscribedPlansResult>($"exec Unsubscribed_Plans {mobile_num}"
		 	).ToListAsync();

        unsubscribedPlans.ForEach(Console.WriteLine);


        StateHasChanged();
       
    }
}

