@page "/UnsubscribedPlansRetrieve"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Unsubscribed Plans</PageTitle>

<h1>Unsubscribed Plans</h1>

<div class="form-style">
    <form @onsubmit=Submit>
        <input type="text" maxlength="11" pattern="[0-9]{11}" title="11-digit mobile no" placeholder="mobile no" @bind="mobileNo" required/>

        <button type="submit">Submit</button>
    </form>
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <td>Plan ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>SMS Offered</td>
                <td>Minutes Offered</td>
                <td>Data Offered</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var unsubscribed in unsubscribedPlans)
            {
                <tr>
                    <td>@unsubscribed.PlanId</td>
                    <td>@unsubscribed.Name</td>
                    <td>@unsubscribed.Price</td>
                    <td>@unsubscribed.SMSOffered</td>
                    <td>@unsubscribed.MinutesOffered</td>
                    <td>@unsubscribed.DataOffered</td>
                    <td>@unsubscribed.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (loading)
{
    <div class="loader"></div>
}

<p>@error</p>

@if ((unsubscribedPlans == null || unsubscribedPlans.Count == 0) && done)
{
    <p>No Active Benefits are available</p>
}

@code {
    private List<UnsubscribedPlansResult> unsubscribedPlans = new();
    private bool isLoading = true;
    public string mobileNo = "";
    private bool loading = false;
    private string error = "";
    private bool done = false;

    private async Task Submit()
    {
        try {
            loading = true;
            await Task.Yield();
            using var context = DbFactory.CreateDbContext();
            unsubscribedPlans = await context.Database
                .SqlQuery<UnsubscribedPlansResult>($"exec Unsubscribed_Plans {mobileNo}"
                 ).ToListAsync();

            unsubscribedPlans.ForEach(Console.WriteLine);
            done = true;
        } catch (Exception err) {
            error = err.Message;
        }
        finally {
            loading = false;
            StateHasChanged();
        }
    }
}

