@page "/WalletCashbackView"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;
	
<PageTitle>Cashback Transactions</PageTitle>
<h1>Cashback Transactions</h1>

@if (cashbackWallet == null || cashbackWallet.Count == 0)
{
	<p>No services are available</p>
}

<div class="form-style">
	<form @onsubmit=Submit>
		<input type="number" step="1" min="1" title="nid" placeholder="nid" @bind="NID" required/>

		<button type="submit">Submit</button>
	</form>
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <td>Cashback ID</td>
                <td>Benefit ID </td>
                <td>Wallet ID</td>
                <td>Amount</td>
                <td>Credit Date</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var cashback in cashbackWallet)
            {
                <tr>
                    <td>@cashback.CashbackId</td>
                    <td>@cashback.BenefitId </td>
                    <td>@cashback.WalletId</td>
                    <td>@cashback.Amount</td>
                    <td>@cashback.CreditDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    private List<CashbackWalletCustomerResult> cashbackWallet = new();
    private bool isLoading = true;
    public int? NID;


    private async Task Submit()
    {
        using var context = DbFactory.CreateDbContext();
        cashbackWallet = await context.Database
            .SqlQuery<CashbackWalletCustomerResult>($"Select * from dbo.Cashback_Wallet_Customer({NID})"
             ).ToListAsync();

     cashbackWallet.ForEach(Console.WriteLine);


     StateHasChanged();

    }
}